@import "tailwindcss";
/* Hide scrollbar for WebKit browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Optional: Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
